.form-inputs {
	padding: 2rem 0;
		border-bottom: 1px solid #E9E9E9;
		padding-left: 5%;
		padding-right: 50%;
	.input{
		padding-left: 5%;
		padding-right: 50%;
	}
}

.form-actions {
	padding: 2rem 0;
		border-bottom: 1px solid #E9E9E9;
		padding-left: 5%;
}